@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

body{

    margin: 0;
    border:0;
    padding: 0;
    font-family: "Mukta", "sans-serif";
}

/* Navigation Bar- Webpage */

nav{

    display: block;
    
}

.span{

    font-size:40px;
    border-radius:10px;
    float: right;
    padding: 20px;
    cursor: pointer;
}

.logo{

width: 120px;
height: 120px;
}

/* CSS for Sliding Menu from W3 Schools */

.overlay {
    height: 100%;
    width: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.7s;
  }
  
  .overlay-content {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    margin-top: auto;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: skyblue;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {

    text-decoration: underline black 3px;

}
  
  .overlay .closebtn {
    position: absolute;
    top: 10px;
    right: 55px;
    font-size: 60px;
  }
  

/* Name Index Section */

.name_index{

    font-size: 55px;
    font-family: 'Mukta', sans-serif;
    text-align: center;
    color:black;
    padding: 90px 20px;
    background-image: url(/image/banner.png);
    width: auto;
    height: 200px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

}




.name_index h3{

    font-size: 55px;
}
/* Description Introduction- Index */
.description_index{

    font-size: 40px;
    font-family: 'Mukta', sans-serif;
    text-align: center;
    padding: 50px;
    color: black;
}



/* Project Windows Section- Index  */



.project_img_flex{
    display: flex;
    flex-direction: row;
    height: auto;
    max-width: auto;
    justify-content: center;
    margin: 10px;

    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    transition: ease-in-out all 400ms;
    overflow:hidden;
  
}


.project_img_flex:hover{

    transform: (0, -3px);
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
}

.project_img_1{

    height: 35vh;
    width: auto;
    display: flex;
    align-self: center;
}

.project_img_2{

    height: 50vh;
    width: auto;
    display: flex;
    align-self: center;
    background: transparent;
    vertical-align: text-top;
}



.project_img_3{
    
    height: 50vh;
    width: 50vh;
    display: flex;

    align-self: center;
    justify-content: center;
}

.project_img_title{

    font-family: 'Mukta', sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.8;
    padding-right: 20px;
    padding-left: 10px;
    text-align: center;
    text-decoration: underline black 2px;
    color: black;

}

.project_img_title:focus{

    border: 2px black solid;
}

.project_img_description{

    font-family: 'Mukta', sans-serif;
    font-size: 14px;
    line-height: 1.8;
    text-align: center;
    text-decoration: underline black 2px;
    color: black;

}





/* Footer */
.footer{


    height: 80px;
    width: auto;
    
    background-color:rgb(92, 119, 236);
    text-align:center;
    font-family: 'Mukta', sans-serif;
    vertical-align: text-bottom;
    padding: 20px;
}

.footer_link{

    font-size: 20px;
    padding-left: 30px;
    padding-right:30px;
   color:white;
   vertical-align: bottom;
  
}

.copyright{

    font-size: 20px;
    color: white;
    text-align: center;
   }


/* Media view Home Page and General */
@media screen and (max-width: 700px){
    


/* Name Introduction- Index  */
.name_index{

    font-size:  45px;
    font-family: 'Mukta', sans-serif;
    text-align: center;
    color:black;
   
    background-image: url(/image/banner.png);
    width: auto;
    height: 200px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

    

}

/* Description Introduction- Index */
.description_index{

    font-size: 40px;
    font-family: 'Mukta', sans-serif;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 5px;
    color: black;
    text-decoration: none;
}



/* Project Windows Section- Index  */



.gallery_flex{

    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr;
    column-gap: 30px;
}

.project_img_flex{
    display: flex;
    flex-direction: column;
    
    align-content: center;
    align-self: center;
    margin: 10px 10px 10px 10px;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    transition: ease-in-out all 400ms;
    overflow:hidden
   
}


.project_img_flex:hover{

    transform: (0, -8px);
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.4);
}


.project_img_1 ,.project_img_2{

    height: auto;
    width: 400px;
    display: flex;
    align-self: center;
    margin-right: auto;
    margin-left: auto;
}

.project_img_3{
    
    height: 400px;
    width: 350px;
    display: flex;

    margin-right: auto;
    margin-left: auto;
}

.project_img_title{

    font-family: 'Mukta', sans-serif;
    font-size: 18px;
    line-height: 1.8;
    text-align: center;
    text-decoration: none;
    color:black;

}

.project_img_title:focus{

    border: 2px black solid;
}
.project_img_description{
    font-family: 'Mukta', sans-serif;
    font-size: 14px;
    line-height: 1.8;
    text-align: center;
    text-decoration: none;
    color: black;

}


.link_decoration{

    color: black;
    text-decoration: underline black 2px;
}





/* Footer */
.footer{


    height: 80px;
    width: auto;


    text-align:center;
    
    font-family: 'Mukta', sans-serif;
    background-color: rgb(92, 119, 236);
    color: white;
}

.footer_link{

    font-size: 20px;
    color:white;
    text-align: center;
   }


   .copyright{

    font-size: 20px;
    color: white;
    text-align: center;
   }
}

/* Satoshi Nakamoto Project  and Blom Meadworks*/






.satoshi_main_header, .blom_main_header, .bg_main_header{

    font-size: 40px;
    text-align: center;
    font-family: 'Mukta', sans-serif;
    line-height: 8vh;
}

.satoshi_secondary_heading, .blom_secondary_heading, .bg_secondary_heading{

    font-size: 30px;
    text-align: center;
    font-family: 'Mukta', sans-serif;
}

.satoshi_banner_flex, .blom_banner_flex, .bg_banner_flex{

    display: flex;
    justify-content: center;
}
.satoshi_banner, .blom_banner, .bg_banner{

    max-width: 1000px;
    height: auto;
    vertical-align: middle;
}

.satoshi_subheading, .blom_subheading, .bg_subheading{


    font-size: 20px;
    text-align: center;
    font-family: 'Mukta', sans-serif;
    line-height: 5vh;
}

.satoshi_project_details, .blom_project_details, .bg_project_details{

    display: flex;
    justify-content: center;
    flex-direction: column;
}


.satoshi_li_list, .blom_li_list, .bg_li_list{

    font-family: 'Mukta', sans-serif;
    font-size: 16px;
    text-align: center;
    line-height: 1.8;

}


.satoshi_paragraph_flex, .blom_paragraph_flex, .bg_paragraph_flex{
    display: flex;
    justify-content: center;
}

.satoshi_paragraph, .blom_paragraph, .bg_paragraph{

    font-family: 'Mukta', sans-serif;
    font-size: auto;
    color:black;
    line-break: 200%;
    max-width: 800px;
    line-height: 1.8;
    
    

}

.satoshi_design_process_flex, .blom_design_process_flex, .bg_design_process_flex{

    display: flex;
    justify-content: center;
 
    align-self:center;
}

.satoshi_design_process, .blom_design_process, .bg_design_process{
    border: black 2px solid;
    max-width: 800px;
    height: auto;
}
.satoshi_table_flex, .blom_table_flex, .bg_table_flex{

    display: flex;
    justify-content: center;
}
.satoshi_table{


    max-width: 800px;
    text-align: center;
    font-size: 14px;
    font-family: 'Mukta', sans-serif;
    background-color: #ffde59;
    

}

.blom_table{

    max-width: 800px;
    text-align: center;
    font-size: 14px;
    font-family: 'Mukta', sans-serif;
    background-color: rgb(255, 213, 140);




}

.satoshi_table_data_border, .blom_table_data_border{

    border: 2px solid black;
}

.satoshi_table_header, .blom_table_header{

    
    font-size: 18px;
    border: black 2px solid;

}


.chatbot_img{

    max-height:100px;
}
.satoshi_bullet{

list-style-type: none;
  margin: 0;
  padding: 0;


}


.satoshi_testing_the_chatbot_flex, .blom_bullet_flex, .bg_bullet_flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 



}
.satoshi_testing_the_chatbot_li, .blom_bullet, .bg_bullet{

    font-family: 'Mukta', sans-serif;
    font-size: auto;
    line-height: 1.8;
    text-align: center;
    max-width: 800px;
    list-style-type: upper-roman;
    padding: 20px 0px;
    
}

.blom_bullet_card_sorting{

    font-family: 'Mukta', sans-serif;
    font-size: auto;
    line-height: 1.8;
    text-align: center;
    max-width: 800px;
    list-style-type: none;



}
.nakamoto_persona, .facebook_messenger_img{

    max-height: 400px;
    max-width: 450px;
    border: black 2px solid;
}


.blom_image, .bg_persona, .bg_image{

    max-height: 800px;
    max-width: 800px;
    
    border: black 2px solid;
}

.blom_image_journey_map {

    max-height: 800px;
    max-width: 800px;
    border: black 2px solid;



}

.use_case_after{


    max-width: 850px;
}


.nakamoto_persona_flex, .blom_persona_flex, .bg_persona_flex {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 

    
}


.journey_mapping_flex, .site_map_flex, .card_sorting_flex{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



}
.facebook_messenger_img_flex{

   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.suspicious_img_caption, .blom_caption, .bg_caption{

    font-family: 'Mukta', sans-serif;
    font-size: auto;


}

.wireframe_flex{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}


.blom_fidelity_image{


    width: 900px;
    height: auto;
}

.traits_ai_copyright{

    font-family: 'Mukta', sans-serif;
    font-size: auto;
    
}


.nakamoto_user_diagram_flex{

display: flex;
justify-content: center;
}
.nakamoto_flow_diagram{

    max-width: 800px;
    height: auto;
}

.satoshi_link, .blom_link,.bg_link{

    
    display: flex;
    justify-content: center;
    font-size: 22px;
    color:black;
    font-family: 'Mukta', sans-serif;
    padding-bottom: 20px;
}
.satoshi_link_flex, .bg_link_flex{


    display: flex;
    justify-content: center;
}

/* Satoshi Nakamoto and Blom Meadworks Page Mobile Version */
@media screen and (max-width: 700px){

    
    

    .satoshi_main_header, .blom_main_header, .bg_main_header{

        font-size: 40px;
        text-align: center;
        font-family: 'Mukta', sans-serif;
        line-height: 8vh;
    }
    
    .satoshi_secondary_heading, .blom_secondary_heading, .bg_secondary_heading{
    
        font-size: 30px;
        text-align: center;
        font-family: 'Mukta', sans-serif;
    }
    
    .satoshi_banner_flex, .blom_banner_flex, .bg_banner_flex{
    
        display: flex;
        justify-content: center;
    }
    .satoshi_banner, .blom_banner, .bg_banner{
    
        max-width: 300px;
        height: auto;
        vertical-align: middle;
        border: black 2px solid;
    }
    
    .satoshi_subheading, .blom_subheading, .bg_subheading{
    
    
        font-size: 20px;
        text-align: center;
        font-family: 'Mukta', sans-serif;
        line-height: 5vh;
    }
    
    .satoshi_project_details, .blom_project_details, .bg_project_details{
    
        display: flex;
        justify-content: center;
        flex-direction: column;
        
    }
    
    
    .satoshi_li_list, .blom_li_list, .bg_li_list{
    
        font-family: 'Mukta', sans-serif;
        font-size: auto;
        text-align: center;
        line-height: 1.8;
     
    
    }
    
    
    .satoshi_paragraph_flex, .blom_paragraph_flex, .bg_paragraph_flex{
        display: flex;
        justify-content: center;
    }
    
    .satoshi_paragraph, .blom_paragraph, .bg_paragraph{
    
        font-family: 'Mukta', sans-serif;
        font-size: auto;
        color:black;
        line-break: 200%;
        max-width: 800px;
        line-height: 1.8;
        margin-left: auto;
        margin-right: auto;
    
    }
    
    .satoshi_design_process_flex, .blom_design_process_flex, .bg_design_process_flex{
    
        display: flex;
        justify-content: center;
     
        align-self:center;
    }
    
    .satoshi_design_process, .blom_design_process, .bg_design_process{
    
    
        max-width: 400px;
        height: auto;
        border: black 2px solid;
    }
    .satoshi_table_flex, .blom_table_flex{
    
        display: flex;
        justify-content: center;
    }
    .satoshi_table{
    
    
        max-width: 400px;
        text-align: center;
        font-size: 14px;
        font-family: 'Mukta', sans-serif;
        background-color: #ffde59;
        
    
    }
    
    .blom_table{
    
        max-width: 400px;
        text-align: center;
        font-size: 14px;
        font-family: 'Mukta', sans-serif;
    
    
    
    
    }
    
    .satoshi_table_data_border, .blom_table_data_border{
    
        border: 2px solid black;
    }
    
    .satoshi_table_header, .blom_table_header{
    
        
        font-size: auto;
        border: black 2px solid;
    
    }
    
    
    .chatbot_img{
    
        max-height:100px;
    }
    .satoshi_bullet{
    
        list-style-type: none;
      margin: 0;
      padding: 0;
    
    
    }
    
    
    .satoshi_testing_the_chatbot_flex, .blom_bullet_flex, .bg_bullet_flex{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
     
    
    
    
    }
    .satoshi_testing_the_chatbot_li, .blom_bullet, .bg_bullet{
    
        font-family: 'Mukta', sans-serif;
        font-size: auto;
        line-height: 1.8;
        text-align: center;
        max-width: 800px;
        list-style-type: upper-roman;
        
    }
    
    .blom_bullet_card_sorting{
    
        font-family: 'Mukta', sans-serif;
        font-size: auto;
        line-height: 1.8;
        text-align: center;
        max-width: 800px;
        list-style-type: none;
    
    
    
    }
    .nakamoto_persona, .facebook_messenger_img {
    
        max-height: 500px;
        max-width: 350px;
        padding-bottom: 10px;
        border: black 2px solid;

    }
    
    .blom_image, .bg_persona, .bg_image{
    
        max-height: 500px;
        max-width:400px;
        border: black 2px solid;

    }

    .use_case_after{

        max-height: 800px;
        max-width: 400px;
        border: black 2px solid;
    }
    
    .blom_image_journey_map{
    
        max-height: 400px;
        max-width: 400px;
        padding-bottom: 10px;
        border: black 1px solid;
    
    
    }
    
    
    .nakamoto_persona_flex, .blom_persona_flex {
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    
        
    }
    
    
    .journey_mapping_flex, .site_map_flex, .card_sorting_flex{
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    
    
    }
    .facebook_messenger_img_flex{
    
       
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    
    .suspicious_img_caption, .blom_caption{
    
        font-family: 'Mukta', sans-serif;
        font-size: auto;
    
    
    }
    
    
    .traits_ai_copyright{
    
        font-family: 'Mukta', sans-serif;
        font-size: auto;
        
    }
    
    
    .nakamoto_user_diagram_flex{
    
    display: flex;
    justify-content: center;
    }
    .nakamoto_flow_diagram{
    
        max-width: 800px;
        height: auto;
    }
    
    .satoshi_link, .blom_link{
    
        
        display: flex;
        justify-content: center;
        font-size: 22px;
        color:black;
        font-family: 'Mukta', sans-serif;
        padding-bottom: 20px;
    }
    .satoshi_link_flex{
    
    
        display: flex;
        justify-content: center;
    }

    .blom_fidelity_image{

        width: 400px;
    }




}